<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
  <body>
    <div class="modal-mask modal-mask--normal"></div>
    <div class="modal-mask modal-mask--unclickable"></div>
    <div class="spin-loader" id="spin-loader"></div>
    <div class="spin-loader" id="mask-loader"></div>
    <div class="share-helper">
      <img
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        srcSet="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        class="share-helper__img"
      />
    </div>
    <div class="root" id="root"></div>
    <%= htmlWebpackPlugin.options.customJs %>
  </body>
</html>