@font-face {
  font-family: 'picky-date-time';
  src:  url('./fonts/picky-date-time.eot?5ce81q');
  src:  url('./fonts/picky-date-time.eot?5ce81q#iefix') format('embedded-opentype'),
    url('./fonts/picky-date-time.ttf?5ce81q') format('truetype'),
    url('./fonts/picky-date-time.woff?5ce81q') format('woff'),
    url('./fonts/picky-date-time.svg?5ce81q#picky-date-time') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="picky-date-time"], [class*=" picky-date-time"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'picky-date-time' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

 .picky-date-time-schedule:before {
  content: "\e8b5"!important;
}
 .picky-date-time-control_point:before {
  content: "\e3ba"!important;
}
 .picky-date-time-arrow_back:before {
  content: "\e5c4"!important;
}
 .picky-date-time-arrow_downward:before {
  content: "\e5db"!important;
}
 .picky-date-time-arrow_forward:before {
  content: "\e5c8"!important;
}
 .picky-date-time-arrow_upward:before {
  content: "\e5d8"!important;
}
 .picky-date-time-block:before {
  content: "\e14b"!important;
}
 .picky-date-time-border_color:before {
  content: "\e22b"!important;
}
 .picky-date-time-cached:before {
  content: "\e86a"!important;
}
 .picky-date-time-call_made:before {
  content: "\e0b2"!important;
}
 .picky-date-time-call_received:before {
  content: "\e0b5"!important;
}
 .picky-date-time-check:before {
  content: "\e5ca"!important;
}
 .picky-date-time-navigate_before:before {
  content: "\e408"!important;
}
 .picky-date-time-navigate_next:before {
  content: "\e409"!important;
}
 .picky-date-time-done:before {
  content: "\e876"!important;
}
 .picky-date-time-error:before {
  content: "\e000"!important;
}
 .picky-date-time-expand_less:before {
  content: "\e5ce"!important;
}
 .picky-date-time-expand_more:before {
  content: "\e5cf"!important;
}
 .picky-date-time-sms_failed:before {
  content: "\e626"!important;
}
 .picky-date-time-first_page:before {
  content: "\e5dc"!important;
}
 .picky-date-time-highlight_off:before {
  content: "\e888"!important;
}
 .picky-date-time-info_outline:before {
  content: "\e88f"!important;
}
 .picky-date-time-input:before {
  content: "\e890"!important;
}
 .picky-date-time-keyboard_arrow_down:before {
  content: "\e313"!important;
}
 .picky-date-time-keyboard_arrow_left:before {
  content: "\e314"!important;
}
 .picky-date-time-keyboard_arrow_right:before {
  content: "\e315"!important;
}
 .picky-date-time-keyboard_arrow_up:before {
  content: "\e316"!important;
}
 .picky-date-time-last_page:before {
  content: "\e5dd"!important;
}
 .picky-date-time-open_in_new:before {
  content: "\e89e"!important;
}
 .picky-date-time-priority_high:before {
  content: "\e645"!important;
}
 .picky-date-time-refresh:before {
  content: "\e5d5"!important;
}
 .picky-date-time-remove_circle_outline:before {
  content: "\e15d"!important;
}
 .picky-date-time-replay:before {
  content: "\e042"!important;
}
 .picky-date-time-timer:before {
  content: "\e425"!important;
}
 .picky-date-time-update:before {
  content: "\e923"!important;
}
 .picky-date-time-vertical_align_bottom:before {
  content: "\e258"!important;
}
 .picky-date-time-vertical_align_top:before {
  content: "\e25a"!important;
}
 .picky-date-time-watch_later:before {
  content: "\e924"!important;
}

